{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Lista de Clientes{% endblock %}
<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE CLIENTES</h3>
      <hr />
    </div>

    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search"
          class="form-control border-0 shadow-none"
          placeholder="Buscar cliente..."
          onkeyup="buscadorTable('tbl_clientes')" />
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          table-hover
          id="tbl_clientes"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Tipo Documento</th>
              <th>Documento</th>
              <th>Nombre</th>
              <th>Correo</th>              
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for cliente in clientes %}
            <tr id="cliente_{{ cliente.id_cliente }}">
              <td>{{ loop.index }}</td>
              <td>{{ cliente.tipo_documento }}</td>
              <td>{{ cliente.documento }}</td>
              <td>{{ cliente.nombre_cliente }}</td>
              <td>{{ cliente.email_cliente }}</td>
              <td width="10px">
                <a
                  href="/detalles-cliente/{{ cliente.id_cliente }}"
                  title="Ver envio"
                  type="button"
                  class="btn btn-info btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="<span>Ver detalles</span>">
                  <i class="bi bi-eye"></i>
                  Ver detalles
                </a>
                <a
                  href="{{ url_for('viewEditarCliente', id = cliente.id_cliente) }}"
                  class="btn btn-success btn-sm"
                  tooltip="Actualizar Registro">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  onclick="eliminarCliente('{{ cliente.id_cliente }}','{{ cliente.foto_cliente }}');"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="<span>Eliminar cliente {{ cliente.nombre_cliente }}</span>">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
